@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
.container-contact {
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  background-image: url('https://media.istockphoto.com/id/1346944001/photo/close-up-of-co-workers-stacking-their-hands-together.jpg?s=612x612&w=0&k=20&c=lidJcFUSR3rkMt4B0yoNwH55lz3sth9o2280keqBXGE='); /* Path to the background image */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  display: flex; /* Flexbox to center content */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  color: white; /* Makes text white for contrast */
  text-align: center; /* Ensures the text inside is centered */
}
.headline-contact {
  padding: 20px;
  border-radius: 10px;
}
.ultra-contact {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Ultra', sans-serif; 
  font-size: 4rem; 
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  
}


